In [1]:
# add modules folder to Python's search path
from os import times
import sys
from pathlib import Path
from os.path import dirname, realpath, abspath
script_dir = Path(abspath(''))#Path(dirname(realpath(__file__)))
module_dir = str(script_dir.parent)
sys.path.insert(0, module_dir + '/modules')
#print(module_dir)
#print(script_dir)

In [2]:
import numpy as np
import pandas as pd
import task
db_path = '{}/data/hcp_task'.format(module_dir)
group = task.Group(db_path)

SyntaxError: invalid syntax (task.py, line 88)

In [3]:
subject_id = 0
individual = task.Individual(db_path, subject_id)
regions = individual.get_regions()

In [31]:
rois = regions[:, 0]
network = regions[:, 1]
subjects = np.arange(339)
conditions = ['0bk_faces', '0bk_tools', '0bk_places', '0bk_body']

In [32]:
index = []
for cond in conditions:
    for subj in subjects:
        for roi in rois:
            index.append((cond, subj, roi))
len(index)

488160

In [20]:
X, y = group.extract_cons(conditions)

Time taken by extract_con is 0.8820953369140625 seconds
Time taken by extract_con is 0.9225490093231201 seconds
Time taken by extract_con is 0.8873953819274902 seconds
Time taken by extract_con is 0.8710026741027832 seconds
Time taken by extract_cons is 3.7529280185699463 seconds

In [33]:
print(X.shape, y.shape)

(1356, 28080) (1356,)

In [34]:
X_new = X.reshape(488160, 78)

In [35]:
# Creating a dataframe
index = pd.MultiIndex.from_tuples(index)
X_df = pd.DataFrame(X_new, index = index)
X_df.index.names = ['Condition', 'Subject_id', 'ROI']

In [36]:
X_df.head()

                                            0        1        2        3   \
Condition Subject_id ROI
0bk_faces 0          (R_V1, Visual1)   12028.0  11983.2  11991.3  11979.2
                     (R_MST, Visual2)  10374.7  10356.4  10295.0  10341.2
                     (R_V6, Visual2)   12376.7  12335.6  12296.3  12325.5
                     (R_V2, Visual2)   12099.2  12095.5  12120.9  12080.0
                     (R_V3, Visual2)   11593.1  11553.0  11543.1  11552.2

                                            4        5        6        7   \
Condition Subject_id ROI
0bk_faces 0          (R_V1, Visual1)   12006.0  11998.1  12008.0  12009.8
                     (R_MST, Visual2)  10320.6  10329.0  10340.4  10283.0
                     (R_V6, Visual2)   12326.1  12342.4  12351.6  12299.0
                     (R_V2, Visual2)   12093.1  12087.4  12114.3  12112.9
                     (R_V3, Visual2)   11588.7  11567.7  11579.6  11557.6

                                            8        9   ...       68  \
Condition Subject_id ROI                                 ...
0bk_faces 0          (R_V1, Visual1)   11986.2  12008.8  ...  12078.0
                     (R_MST, Visual2)  10346.5  10368.5  ...  10367.6
                     (R_V6, Visual2)   12411.3  12301.9  ...  12424.0
                     (R_V2, Visual2)   12113.8  12152.6  ...  12119.4
                     (R_V3, Visual2)   11617.5  11594.2  ...  11598.3

                                            69       70       71       72  \
Condition Subject_id ROI
0bk_faces 0          (R_V1, Visual1)   12048.5  12029.4  12021.9  12003.7
                     (R_MST, Visual2)  10343.9  10358.8  10380.3  10395.0
                     (R_V6, Visual2)   12465.6  12482.8  12499.3  12472.8
                     (R_V2, Visual2)   12123.8  12135.1  12107.3  12083.2
                     (R_V3, Visual2)   11609.5  11624.7  11638.2  11580.7

                                            73       74       75       76  \
Condition Subject_id ROI
0bk_faces 0          (R_V1, Visual1)   11981.9  12006.8  11996.9  12034.0
                     (R_MST, Visual2)  10398.0  10402.3  10367.7  10381.3
                     (R_V6, Visual2)   12455.6  12544.5  12482.3  12491.8
                     (R_V2, Visual2)   12097.8  12105.4  12096.7  12115.4
                     (R_V3, Visual2)   11613.6  11610.8  11580.6  11622.3

                                            77
Condition Subject_id ROI
0bk_faces 0          (R_V1, Visual1)   12051.1
                     (R_MST, Visual2)  10351.5
                     (R_V6, Visual2)   12545.8
                     (R_V2, Visual2)   12177.3
                     (R_V3, Visual2)   11621.1

[5 rows x 78 columns]